
.cbs{

  display: flex;
  justify-content: space-between;
  align-items: center;

}


img {
  padding: 15px;
}

.cabecalho .cbs .cabecalho-menu-t {

  display: flex;

}


.cabecalho-menu  {

  padding: 20px;

}

.cabecalho-menu-t .cabecalho-menu button {

  height: 40px;
  border: none;
  border-radius: 4px;
  width: 120px;


}



.cabecalho-menu-t .cabecalho-menu button:hover {
  background-color: #13274F;
  color: white;
  transition: background-color 0.6s ease, color 0.6s ease;
  cursor: pointer;
}

.cabecalho-menu #noticias {

  background-color: rgb(10, 10, 59);
  color: white;
  border-radius: 6px;
  width: 130px;
}

.cabecalho-menu #noticias:hover {

  background-color:#6c7c9b ;
}


.list-servicos {
  margin-top: -1px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;


}

.list-servicos a:hover {
  border-bottom: 1px solid black;
}


.cabecalho .servicos {

  border: 2px solid whitesmoke;
  height: 30px;
}


a{
  text-decoration: none;
  color: gray;
}

li:hover {
  margin-top: 6px;
}






