<header class="cabecalho">

  <div class="cbs">

    <img ngSrc="./assets/download.png" priority width="200" height="60" />

    <nav class="cabecalho-menu-t">

        <div class="cabecalho-menu"><button (click)="navegarPagindaAgendamento()">Agendamento</button></div>
        <div class="cabecalho-menu"><button (click)="navegarParaPaginadelogin()" >Resultado</button></div>
        <div class="cabecalho-menu"><button id="noticias">Notícias</button></div>

    </nav>
  </div>

    <div class="servicos">
        <ul class="list-servicos">
            <li><a href="#">Institucional</a></li>
            <li><a href="#">Estrutura</a></li>
            <li><a href="#">Área Médica</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>



</header>





<!-- priority = faz com que a imagem seja priorizada ou seja ela tem que ser a primeira coisa a ser carregada. definir uma largura e uma altura faz com que a imagem não cresca derrepende no carregamento do server(layout shift) -->






<!-- priority = faz com que a imagem seja priorizada ou seja ela tem que ser a primeira coisa a ser carregada. definir uma largura e uma altura faz com que a imagem não cresca derrepende no carregamento do server(layout shift) -->
