
<app-header></app-header>



<main>

  <div class="boxmsmacesso">

    <div class="headermsm">

      <div class="msm">
       <h2>acesse o resultado dos seus exames medicos,</h2>
      </div>

      <div class="inf">
        <h3>Ao clicar no botão para resultados de exames, insira o login e a senha do seu acesso.</h3>
      </div>

    </div>
  </div>


  <div class="boxacessologin">

    <div class="mensagemacesso">
      <h2>resultado dos exames </h2>
    </div>

    <br>

    <div class="btn-acsslogin">
      <button (click)="navegarParaPaginadelogin()" > Acesse aqui</button>
    </div>
  </div>


</main>










