.Agendamentoformulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.form-agendamento {

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  width: 500px;
  height: 450px;

  padding: 30px;


}


.boxdadosag .titoloag {

  display: flex;
  justify-content: center;
  font-family: sans-serif;
}


.boxdadosag div {

  display: flex;
  flex-direction: column;
  padding: 10px;


}


.form-agendamento .btn-agendamento button {

  margin-left: 10px;
  width: 80px;
  height: 35px;
  cursor: pointer;
}



.boxdadosag input {
  height: 20px;
}







