
  <div class="Agendamentoformulario">

    <form class="form-agendamento">

        <div class="boxdadosag">


            <div class="boxnomedado">
              <label for="nome">nome</label>
              <input id="nome" type="text" required>
            </div>


            <div class="boxemaildados">
              <label for="email">e-mail</label>
              <input id="email" type="email" required>
            </div>


            <div>
              <label for="datans">data de nascimento</label>
              <input id="datans" type="date" required>
            </div>


            <div>
              <label for="ntelefone">telefone</label>
              <input id="ntelefone" type="tel" required>
            </div>


            <div>
              <label for="exame">exame</label>
              <input id="exame" type="text" required>
            </div>

        </div>

        <div>
          <button type="submit">enviar</button>
        </div>

    </form>
  </div>
