
  <div class="Agendamentoformulario">

    <form class="form-agendamento">

        <div class="boxdadosag">

            <h1 class="titoloag">Agendamento</h1>

            <div class="boxnomedado">
              <label for="nome">Nome</label>
              <input id="nome" type="text" required>
            </div>


            <div class="boxemaildados">
              <label for="email">E-mail</label>
              <input id="email" type="email" required>
            </div>


            <div>
              <label for="datans">Data de nascimento</label>
              <input id="datans" type="date" required>
            </div>


            <div>
              <label for="ntelefone">Telefone</label>
              <input id="ntelefone" type="tel" required>
            </div>


            <div>
              <label for="exame">Exame</label>
              <input id="exame" type="text" required>
            </div>

        </div>

        <div class="btn-agendamento">
          <button type="submit">Enviar</button>
        </div>

    </form>
    
  </div>
